#RedP{
    color: rgb(255, 0, 0);
}
#BlueP{
    color: rgb(0, 0, 255);
}
#GreenP{
    color: rgb(0, 255, 0);
}
#YellowP{
    color: rgb(255, 255, 0);
}
#PinkP{
    color: rgb(255, 0, 255);
}
#PurpleP{
    color: rgb(128, 0, 128);
}
#GrayP{
    color: rgb(128, 128, 128);
}