* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#box1 {
    width: 300px;
    border: 2px;
    background-color: rgb(138, 24, 24);
    padding: 15px;
    margin: 40px;
}
#box2 {
    width: 300px;
    border: 2px;
    background-color: rgb(24, 138, 24);
    padding: 10px;
    margin: 30px;
}